<section class="banner">
    <div class="wrapper">
        {{input value=model.title placeholder="Event title"}}
          {{#if model.errors.title}}{{model.errors.title}}{{/if}}
        {{!pick-a-date date=(readonly date) on-selected=(action (mut date)) placeholder="Event date" options=(readonly extraPickadateOptions) value=model.date }}
        {{input value=model.location placeholder="location"}}

        {{pikaday-input value=model.date}}
    </div>
</section>
<section class="details">
    <div class="details_row">
        <div class="details_item">
            <div class="details_title"><h4>About</h4></div>
            <div class="details_content">
                {{textarea value=model.description}}
            </div>
        </div>
        <div class="details_item">
            <div class="details_title"><h4>Schedule</h4></div>
            <div class="details_content">
                {{classes-list classes=model.classes}}
                {{add-class onSubmit=(route-action 'addClass')}}
            </div>
        </div>
        <div class="details_item">
            <div class="details_title"><h4>Teachers</h4></div>
            <div class="details_content">
                {{teachers-list teachers=model.teachers}}
                {{add-teacher onSubmit=(route-action 'addTeacher')}}
            </div>
        </div>
    </div>
    <div class="button-wrapper">
        <button class="button" {{action 'saveEvent'}}>Save</button>
        {{#if wasSuccess}}
            <div class="form-message">Event was saved successfully</div>
        {{/if}}
    </div>
</section>
