<section class="banner">
    <div class="wrapper">
        {{input value=model.title placeholder="Event title"}}
        {{#if model.errors.title}}
          <p class="error-message">{{model.errors.title}}</p>
        {{/if}}

        {{pikaday-input value=model.date placeholder="Event date"}}
        {{#if model.errors.date}}
          <p class="error-message">{{model.errors.date}}</p>
        {{/if}}

        {{input value=model.location placeholder="location"}}
        {{#if model.errors.location}}
          <p class="error-message">{{model.errors.location}}</p>
        {{/if}}
    </div>
</section>
<section class="details">
    <div class="details_row">
        <div class="details_item">
            <div class="details_title"><h4>About</h4></div>
            <div class="details_content">
                {{textarea value=model.description}}
                {{#if model.errors.description}}
                  <p class="error-message">{{model.errors.description}}</p>
                {{/if}}
            </div>
        </div>
        <div class="details_item">
            <div class="details_title"><h4>Schedule</h4></div>
            <div class="details_content">
                {{classes-list classes=model.classes}}
                {{add-class onSubmit=(route-action 'addClass')}}
            </div>
        </div>
        <div class="details_item">
            <div class="details_title"><h4>Teachers</h4></div>
            <div class="details_content">
                {{teachers-list teachers=model.teachers}}
                {{add-teacher onSubmit=(route-action 'addTeacher')}}
            </div>
        </div>
    </div>
    <div class="button-wrapper">
        <button class="button" {{action 'saveEvent'}}>Save</button>
        {{#if wasSuccess}}
            <div class="form-message">Event was saved successfully</div>
        {{/if}}
    </div>
</section>

{{#if model.modalVisible}}
  {{success-modal eventId=model.eventId onclose=(route-action 'closeModal')}}
{{/if}}
